@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root{
  /* height: 100vh; */
  height: 100%;
  width: 100%; 
  font-family: 'Poppins', sans-serif;
}

/* .app {
  display: flex;
  height: 100%;
} */

/* .content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}
  
.main {
  flex: 1;
  overflow-y: auto;
  height: 80%;
} */

::-webkit-scrollbar {
    width: 2px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #e0e0e0;
}

/* thumb */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}